/bin
/bin_double
/bin_float
/bin_pack
/data/*
!/data/plugins
/data/plugins/*
!/data/plugins/Sea5kg
/source/plugins/Local
/source/plugins/Unigine
/launch_debug*
/launch_release*
junk
.thumbnails
__pycache__
/lib
/tmp
/fbx
/docs/ignore
*.upackage
linux_UnigineEditorPlugin_PrototypeStoneGenerator_*.zip
windows_UnigineEditorPlugin_PrototypeStoneGenerator_*.zip
/include/plugins/
migration.log.html
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
